<DatabaseTemplate name="default_template" description="" version="11.1.0.0.0">
   <CommonAttributes>
      <option name="OMS" value="false"/>
      <option name="JSERVER" value="true"/>
      <option name="SPATIAL" value="false"/>
      <option name="IMEDIA" value="false"/>
      <option name="XDB_PROTOCOLS" value="true">
         <tablespace id="SYSAUX"/>
      </option>
      <option name="ORACLE_TEXT" value="false">
         <tablespace id="SYSAUX"/>
      </option>
      <option name="SAMPLE_SCHEMA" value="false"/>
      <option name="CWMLITE" value="false"/>
      <option name="EM_REPOSITORY" value="false"/>
      <option name="APEX" value="false"/>
      <option name="OWB" value="false"/>
      <option name="DV" value="false"/>
   </CommonAttributes>
   <Variables/>
   <CustomScripts Execute="false"/>
   <InitParamAttributes>
      <InitParams>
         <initParam name="db_name" value=""/>
         <initParam name="dispatchers" value="(PROTOCOL=TCP) (SERVICE={SID}XDB)"/>
         <initParam name="audit_file_dest" value="{ORACLE_BASE}/admin/{DB_UNIQUE_NAME}/adump"/>
         <initParam name="compatible" value="11.2.0.0.0"/>
         <initParam name="remote_login_passwordfile" value="EXCLUSIVE"/>
         <initParam name="log_archive_dest_2" value="'LOCATION=<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/arch2'"/>
         <initParam name="log_archive_dest_1" value="'LOCATION=<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/arch1'"/>
         <initParam name="processes" value="999"/>
         <initParam name="undo_tablespace" value="UNDOTBS1"/>
         <initParam name="control_files" value="(&quot;<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/control01.ctl&quot;, &quot;/oracle/{DB_UNIQUE_NAME}/redo1/control02.ctl&quot;)"/>
         <initParam name="diagnostic_dest" value="/opt/oracle"/>
         <initParam name="db_recovery_file_dest" value="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/flash_recovery_area"/>
         <initParam name="audit_trail" value="DB"/>
         <initParam name="log_archive_format" value="{SID}_%t_%s_%r.arc"/>
         <initParam name="memory_target" value="1157627904"/>
         <initParam name="sessions" value="1520"/>
         <initParam name="db_block_size" value="8192"/>
         <initParam name="open_cursors" value="1000"/>
         <initParam name="db_recovery_file_dest_size" value="20971520000"/>
      </InitParams>
      <MiscParams>
         <characterSet><%= node[:oracle][:rdbms][:character_set] %></characterSet>
         <nationalCharacterSet>AL16UTF16</nationalCharacterSet>
         <archiveLogMode>true</archiveLogMode>
         <initParamFileName>{ORACLE_BASE}/admin/{DB_UNIQUE_NAME}/pfile/init.ora</initParamFileName>
      </MiscParams>
      <SPfile useSPFile="true">{ORACLE_HOME}/dbs/spfile{SID}.ora</SPfile>
   </InitParamAttributes>
   <StorageAttributes>
      <ControlfileAttributes id="Controlfile">
         <maxDatafiles>200</maxDatafiles>
         <maxLogfiles>16</maxLogfiles>
         <maxLogMembers>3</maxLogMembers>
         <maxLogHistory>1</maxLogHistory>
         <maxInstances>8</maxInstances>
         <image name="control01.ctl" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/"/>
         <image name="control02.ctl" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
      </ControlfileAttributes>
      <DatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/sysaux01.dbf">
         <tablespace>SYSAUX</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="MB">600</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="KB">10240</increment>
         <maxSize unit="MB">32767</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/system01.dbf">
         <tablespace>SYSTEM</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="MB">730</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="KB">10240</increment>
         <maxSize unit="MB">32767</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/data01.dbf">
         <tablespace>DATA</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="MB">1500</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="MB">500</increment>
         <maxSize unit="MB">20000</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/index1/index01.dbf">
         <tablespace>INDEX</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="MB">500</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="MB">500</increment>
         <maxSize unit="MB">20000</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/temp1/temp01.dbf">
         <tablespace>TEMP</tablespace>
         <temporary>true</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="MB">68</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="KB">640</increment>
         <maxSize unit="MB">32767</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/undo1/undotbs01.dbf">
         <tablespace>UNDOTBS1</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="MB">430</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="KB">5120</increment>
         <maxSize unit="MB">32767</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/users01.dbf">
         <tablespace>USERS</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="MB">100</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="KB">1280</increment>
         <maxSize unit="MB">32767</maxSize>
      </DatafileAttributes>
      <TablespaceAttributes id="SYSAUX">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>8192</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">64</initSize>
         <increment unit="KB">0</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>2147483645</maxExtends>
         <minExtendsSize unit="KB">64</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <autoSegmentMgmt>true</autoSegmentMgmt>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/sysaux01.dbf">
               <id>-1</id>
            </TablespaceDatafileAttributes>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="SYSTEM">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>8192</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">64</initSize>
         <increment unit="KB">0</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>2147483645</maxExtends>
         <minExtendsSize unit="KB">64</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <autoSegmentMgmt>false</autoSegmentMgmt>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/system01.dbf">
               <id>-1</id>
            </TablespaceDatafileAttributes>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="DATA">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>8192</blockSize>
         <allocation>2</allocation>
         <uniAllocSize unit="KB">1024</uniAllocSize>
         <initSize unit="KB">1024</initSize>
         <increment unit="KB">1024</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>2147483645</maxExtends>
         <minExtendsSize unit="KB">1024</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <autoSegmentMgmt>true</autoSegmentMgmt>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/data01.dbf">
               <id>-1</id>
            </TablespaceDatafileAttributes>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="INDEX">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>8192</blockSize>
         <allocation>2</allocation>
         <uniAllocSize unit="KB">256</uniAllocSize>
         <initSize unit="KB">256</initSize>
         <increment unit="KB">256</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>2147483645</maxExtends>
         <minExtendsSize unit="KB">256</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <autoSegmentMgmt>true</autoSegmentMgmt>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/index1/index01.dbf">
               <id>-1</id>
            </TablespaceDatafileAttributes>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="TEMP">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>true</temporary>
         <defaultTemp>true</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>8192</blockSize>
         <allocation>2</allocation>
         <uniAllocSize unit="KB">1024</uniAllocSize>
         <initSize unit="KB">1024</initSize>
         <increment unit="KB">1024</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>-1</maxExtends>
         <minExtendsSize unit="KB">1024</minExtendsSize>
         <logging>false</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <autoSegmentMgmt>false</autoSegmentMgmt>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/temp1/temp01.dbf">
               <id>-1</id>
            </TablespaceDatafileAttributes>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="UNDOTBS1">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>true</undo>
         <local>true</local>
         <blockSize>8192</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">64</initSize>
         <increment unit="KB">0</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>2147483645</maxExtends>
         <minExtendsSize unit="KB">64</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <autoSegmentMgmt>false</autoSegmentMgmt>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/undo1/undotbs01.dbf">
               <id>-1</id>
            </TablespaceDatafileAttributes>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="USERS">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>8192</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">64</initSize>
         <increment unit="KB">0</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>2147483645</maxExtends>
         <minExtendsSize unit="KB">64</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <autoSegmentMgmt>true</autoSegmentMgmt>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/data1/users01.dbf">
               <id>-1</id>
            </TablespaceDatafileAttributes>
         </datafilesList>
      </TablespaceAttributes>
      <RedoLogGroupAttributes id="1">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo01_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo01_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="2">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo02_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo02_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="3">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo03_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo03_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="4">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo04_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo04_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="5">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo05_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo05_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="6">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo06_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo06_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="7">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo07_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo07_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="8">
         <reuse>false</reuse>
         <fileSize unit="KB">204800</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo08_1.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo1/"/>
         <member ordinal="1" memberName="redo08_2.rdo" filepath="<%= node[:oracle][:rdbms][:dbs_root] %>/{DB_UNIQUE_NAME}/redo2/"/>
      </RedoLogGroupAttributes>
   </StorageAttributes>
</DatabaseTemplate>
